@import "tailwindcss";

@theme {
  --color-rodokputih: #f6f6f6;
  --color-primary: #049dd9;
  --color-secondary: #64748b;
  --color-dark: #000520;
  --color-biru: #0903a6;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.navbar-fixed {
  @apply fixed z-[9999];
  width: 100%;
  top: 0;
}

.hamburger-line {
  @apply w-[30px] h-[3px] my-2 block bg-white bg-blend-difference;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

/* .button--stroke:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border: 0.125rem solid theme("colors.rodokputih");
  border-radius: 6.25rem;
  pointer-events: none;
  transition: border-color 0.3s theme ease-in-out
    cubic-bezier(0.645, 0.045, 0.355, 1);
} */
